<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- css files --->
    <link rel="stylesheet" type="text/css" href="/css/main.css" />

    <title>
        {% block title %}
            {{ title }}
        {% endblock title %}
    </title>
</head>
<body>
    <!-- Jinja2 content -->
    {% block content %}
    {% endblock content %}

    <!-- JS files -->
    <script src="/js/app.js"></script>
</body>
</html>