<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- css files --->
        <link rel="stylesheet" type="text/css" href="/css/main.css" />

        <title>
            {% block title %}
                {{ title }}
            {% endblock title %}
        </title>
    </head>
    <body>
        <div class="container">
            <div class="navigation">
                Navigation
            </div>
            <div class="context">
                <!-- Jinja2 content -->
                {% block content %}
                {% endblock content %}
            </div>
        </div>

        <!-- JS files -->
        <script src="/js/app.js"></script>
    </body>
</html>