{% extends "base.html" %}

{% block content %}

<h2 class="page-header">
    Help and Documents for using MUP
</h2>

<div class="row page-description">
    How to use MUP?
</div>

{% endblock content %}
