{% extends "base.html" %}

{% block content %}

<h2 class="page-header">
    Snappline! service help
</h2>

<div class="row page-description">
    In order to get previous reports from Minio cluster on
    specific date please read the following documentation.<br />
    In Snappline! we have <b>reports</b> bucket. To get reports of an
    specific date, use the prefix like (%Y-%m-%D). For example prefix
    2023-04-01 returns the 5 report files created on 1st of April.
    If you had any questions, contact the panel supporter at
    <a href="mailto:amirhossein.najafizade@snapp.cab">amirhossein.najafizade@snapp.cab</a>.
</div>

{% endblock content %}
