{% extends "base.html" %}

{% block content %}

<h2 class="page-header">
    Snappline service help page.
</h2>

<div class="row page-description">
    This page is only for Snappline!
</div>

{% endblock content %}
