{% extends "base.html" %}

{% block content %}

<h2 class="page-header">
    Welcome to Minio URL Operator
</h2>

<div class="row page-description">
    By using MUO you can get user readable addresses for your objects
    in Minio cluster. These addresses are public and you can share them
    with anyone the your like. Since Minio provides shared urls with a
    maximum 7 days limit, you can use this operator to get fresh links
    everytime you want.
</div>

<div class="row">
    <div class="input-row">
        <div>
            <label for="bucket">Bucket <span class="red-color">(required)</span></label>
            <input id="bucket" class="input" placeholder="bucket" type="text" />
        </div>
        <div>
            <label for="prefix">Prefix (optional)</label>
            <input id="prefix" class="input" placeholder="line" type="text" />
        </div>
        <button class="btn" onclick="getObjects()">Get Objects</button>
    </div>
    <div id="response-div" class="in-row"></div>
</div>

{% endblock content %}
