{% extends "base.html" %}

{% block content %}

<h2 class="page-header">
    Welcome to Minio URL Operator
</h2>

<div class="row page-description">
    By using MUO you can get user readable addresses for your objects
    in Minio cluster. These addresses are public and you can share them
    with anyone the your like. Since Minio provides shared urls with a
    maximum 7 days limit, you can use this operator to get fresh links
    everytime you want. You can block access to Minio objects just
    by clicking a button. In order to use the application APIs, visit the
    documents page.
</div>

{% endblock content %}
