{% extends "base.html" %}

{% block content %}

<h2>
    Welcome to Minio URL Operator
</h2>

<div>
    By using MUO you can get user readable addresses for your objects
    in Minio cluster.
</div>

{% endblock content %}
