* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Apple SD Gothic Neo", monospace;
}

body {
    background-color: #00f195;
}

.container {
    background-color: #ffff;
    margin: 50px auto;
    width: 80%;
    border: 1px solid #ffff;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.3);

    display: grid;
    grid-template-columns: 20% 80%;
}

.navigation {
    padding: 15px;
}

.nav-item {
    color: #ffff;
    margin: 15px 20px;
    padding: 7px 10px;
    background-color: #00f195;
    border-radius: 15px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-item:hover {
    background-color: #00c77c;
}

.nav-item > span {
    margin-left: 10px;
}

.context {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #F0F8FFFF;
    padding: 25px;
}

.page-header {
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: #ffff;
    padding: 25px;
}

.page-description {
    border-radius: 15px;
    background-color: #ffff;
    padding: 25px;
    text-align: justify;
}

.row {
    margin: 20px 0;
    border-radius: 15px;
    background-color: #ffff;
    padding: 25px;
}

.input-row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
}

.in-row {
    margin: 20px 0;
}

.in-row > table {
    width: 100%;
    border-collapse: collapse;
}

.in-row > table > th, .in-row > table > td {
    padding: 15px 0;
    margin: 0;
}

.in-row > table > th {
    border-bottom: 1px solid #F0F8FFFF;
}

.in-row > table > td {
    text-align: center;
    border-bottom: 1px solid #F0F8FFFF;
}

.input {
    padding: 8px 12px;
    border: 2px solid #F0F8FFFF;
    border-radius: 3px;
}

.btn {
    padding: 5px 10px;
    background-color: #00f195;
    color: #ffff;
    border-radius: 5px;
    outline: none;
    border: 0 solid black;
}

.btn:hover {
    background-color: #00c77c;
}

.search-btn {
    display: flex;
    align-items: center;
    align-content: center;
}

.red-color {
    color: #ff310d;
}

.url-btn {
    background-color: #00f195;
    color: #ffff;
    display: inline-flex;
    align-items: center;
}

.url-btn:hover {
    background-color: #00c77c;
}

.enable-btn {
    background-color: #c2c2c2;
    color: #1e1e1e;
    display: inline-flex;
    align-items: center;
}

.enable-btn:hover {
    background-color: #a1a1a1;
}

.disable-btn {
    background-color: #ff2c00;
    color: #ffff;
    display: inline-flex;
    align-items: center;
}

.disable-btn:hover {
    background-color: #da2500;
}

.register-btn {
    background-color: #ffba00;
    color: #000000;
    display: inline-flex;
    align-items: center;
}

.register-btn:hover {
    background-color: #cb9200;
}

.border-right {
    border-right: 1px solid #F0F8FFFF;
}